# Hass.io Add-ons: Nextcloud

[![Release][release-shield]][release] ![Project Stage][project-stage-shield] ![Project Maintenance][maintenance-shield]

Self-hosted file share and collaboration platform on the web.

## About

Nextcloud is a suite of client-server software for creating and using file hosting services.
Nextcloud application functionally is similar to Dropbox.
Unlike Dropbox, Nextcloud does not offer off-premises file storage hosting.

A safe home for all your data. Access & share your files, calendars, contacts, mail
& more from any device, on your terms.

[Click here for the full documentation][docs]

![Nextcloud in the Home Assistant frontend][screenshot]

[docs]: {{ repo }}/blob/{{ version }}/README.md
[project-stage-shield]: https://img.shields.io/badge/project%20stage-production%20ready-brightgreen.svg
[release-shield]: https://img.shields.io/badge/version-{{ version }}-blue.svg
[release]: {{ repo }}/tree/{{ version }}
[screenshot]: {{ repo }}/raw/{{ version }}/images/screenshot.png
